
@model ApplicationUser

@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Member Panel</h1>

<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-content">
                    @if (Model.Image != null)
                    {
                        string imageBase64 = Convert.ToBase64String(Model.Image);
                        string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                        <img class="card-img-top"  src="@imageSrc" />
                    }
                    else
                    {
                        <img class="card-img-top" src="~/content/static/Member_default_image.jpg" />
                    }
                </div>
                <div class="profile-usertitle">
                    <hr />
                    <div class="profile-usertitle">
                        <p>
                            Name: @Model.FirstName @Model.LastName
                        </p>
                        <hr />
                        <p>Street: @Model.Street</p>
                        <p>City: @Model.City</p>
                        <p>Province: @Model.Province</p>
                        <p>Country: @Model.Country</p>
                        <p>Phone Number: @Model.PhoneNumber</p>
                        <p>Postal Code: @Model.PostalCode</p>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                @RenderBody()
            </div>
            
        </div>
    </div>
</div>
