
@model ApplicationUser

@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Member Panel</h1>

<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    @if (Model.Image != null)
                    {
                        string imageBase64 = Convert.ToBase64String(Model.Image);
                        string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                        <img class="user-image" src="@imageSrc" />
                    }
                    else
                    {
                        <img class="user-image" src="~/content/static/Member_default_image.jpg" />
                    }
                </div>
                <div class="profile-usertitle">
                    <hr />
                    <div class="profile-usertitle-name">
                        @Model.FirstName @Model.LastName
                    </div>
                    <div class="profile-usertitle-job">
                        @Model.City
                    </div>
                </div>
                <nav class="side-menu">
                    <ul class="nav">
                        <li><a asp-controller="Member" asp-action="Index"><span class="fa fa-home"></span> Start Page</a></li>
                        <li><a asp-controller="Member" asp-action="List"><span class="fa fa-list-alt"></span> My offers</a></li>
                        <li><a aria-hidden="true" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><span class="fa fa-user"></span> Profile</a></li>
                        <li><a asp-controller="Ad" asp-action="AdCreate"><span class="fa fa-list-alt"></span> Add new Ad</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                @RenderBody()
            </div>
            
        </div>
    </div>
</div>
